a {
	color: inherit;
	font-style: none;
	text-decoration: none;
	opacity: 1;
	/*Transitions*/
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

a:hover {
	opacity: 0.5;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	background: url(../images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 512px;
}

/* Navigation bar elements */

.Estudiala-brand {
	width:256px;
	float: left;
	padding-left: 8px;
}

.Estudiala-leftBrand {
	float: left;
}

.Estudiala-rightBrand {
	width: 25%;
	padding-right: 16px;
	float: right;
}
 /* --- */

.Estudiala-desktop {
	background: url(../images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 512px;
}

.Estudiala-description {
	width: 80%;
	color: #F9F9F9;
	display: block;
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
	text-align: center;
	font-family: 'Lato', arial;
}

.Estudiala-description > h1, h2 {
	text-align: center;
	font-weight: normal;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

#Estudiala-blackPanel {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.75);
}

.Estudiala-grid {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Estudiala-course {
	width: 23%;
	float: left;
	margin-left: 1%;
	color: #F9F9F9;
	margin-bottom: 1%;
	text-align: center;
	padding-bottom: 8px;

	/*Transitions*/
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

.Estudiala-course > img {
	width: 50%;
	padding: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*P tag*/
p {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: xx-large;
}

footer {
	width: 100%;
	background-color: #f9f9f9;
}

footer > div {
	width: 33%;
	float: left;
}

footer > div > img {
	width: 10%;
	display: block;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
}

#signin, #signup {
	z-index: 6;
	display: none;
	width: 40%;
	margin-top: 64px;
	margin-left: 30%;
	position: fixed;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

#signin > a > img, #signup > a > img {
	z-index: 5;
	height: 16px;
	margin-left: -16px;
	position: absolute;
	background-color: #000;
}

iframe {
	z-index: 4;
	height: 384px;
	width: 100%;
	border: none;
	position: absolute;
}

@media (min-width: 1025px) {
	nav {
		width: 100%;
		height: 56px;
		padding: 8px;
		color: #F44336;
		position: fixed;
		font-size: 32px;
		line-height: 64px;
		font-family: 'Lato', arial;
		z-index: 3;

		/*Transitions*/
		-webkit-transition: all ease-out 0.5s;
		-moz-transition: all ease-out 0.5s;
		-ms-transition: all ease-out 0.5s;
		-o-transition: all ease-out 0.5s;
		transition: all ease-out 0.5s;
	}

	.Estudiala-logo {
		float: left;
		width: 56px;
		height: 56px;
		/*Transitions*/
		-webkit-transition: all ease-out 0.5s;
		-moz-transition: all ease-out 0.5s;
		-ms-transition: all ease-out 0.5s;
		-o-transition: all ease-out 0.5s;
		transition: all ease-out 0.5s;
	}

	.Estudiala-menuOption {
		width: 50%;
		float: left;
		height: 64px;
		text-align: center;
		overflow-y: hidden;
		font-size: 0.7em !important;
	}

	.Estudiala-brand {
		display: block;
	}

	.Estudiala-container {
		width: 100%;
		color: #505051;
		margin-top: 50%;
		text-align: center;
		position: absolute;
		background-color: #FFF;
		font-family: 'Lato', arial;
		box-shadow: 5px 2px 0 rgba(0, 0, 0, 0.26);
		text-shadow: 0;
	}

	.Estudiala-course {
		font-size: xx-large;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	nav {
		width: 100%;
		height: 40px;
		padding: 8px;
		color: #F44336;
		position: fixed;
		font-size: 24px;
		line-height: 48px;
		font-family: 'Lato', arial;
		z-index: 3;

		/*Transitions*/
		-webkit-transition: all ease-out 0.5s;
		-moz-transition: all ease-out 0.5s;
		-ms-transition: all ease-out 0.5s;
		-o-transition: all ease-out 0.5s;
		transition: all ease-out 0.5s;
	}

	.Estudiala-logo {
		float: left;
		width: 40px;
		height: 40px;
		/*Transitions*/
		-webkit-transition: all ease-out 0.5s;
		-moz-transition: all ease-out 0.5s;
		-ms-transition: all ease-out 0.5s;
		-o-transition: all ease-out 0.5s;
		transition: all ease-out 0.5s;
	}

	.Estudiala-menuOption {
		width: 50%;
		float: left;
		height: 64px;
		text-align: center;
		overflow-y: hidden;
		font-size: 0.45em !important;
	}

	.Estudiala-brand {
		display: block;
	}

	.Estudiala-container {
		width: 100%;
		color: #505051;
		margin-top: 120%;
		position: absolute;
		background-color: #FFF;
		font-family: 'Lato', arial;
		box-shadow: 5px 2px 0 rgba(0, 0, 0, 0.26);
		text-shadow: 0;
	}

	.Estudiala-course {
		font-size: medium;
	}
}

@media (min-width: 0px) and (max-width: 640px) {
	nav {
		width: 100%;
		height: 24px;
		padding: 8px;
		color: #F44336;
		position: fixed;
		font-size: 16px;
		line-height: 32px;
		font-family: 'Lato', arial;
		z-index: 3;

		/*Transitions*/
		-webkit-transition: all ease-out 0.5s;
		-moz-transition: all ease-out 0.5s;
		-ms-transition: all ease-out 0.5s;
		-o-transition: all ease-out 0.5s;
		transition: all ease-out 0.5s;
	}

	.Estudiala-logo {
		float: left;
		width: 24px;
		height: 24px;
		/*Transitions*/
		-webkit-transition: all ease-out 0.5s;
		-moz-transition: all ease-out 0.5s;
		-ms-transition: all ease-out 0.5s;
		-o-transition: all ease-out 0.5s;
		transition: all ease-out 0.5s;
	}

	.Estudiala-menuOption {
		width: 50%;
		float: left;
		height: 64px;
		text-align: center;
		overflow-y: hidden;
		font-size: 0.3em;
	}

	.Estudiala-brand {
		display: none;
	}

	.Estudiala-container {
		width: 100%;
		color: #505051;
		margin-top: 120%;
		position: absolute;
		background-color: #FFF;
		font-family: 'Lato', arial;
		box-shadow: 5px 2px 0 rgba(0, 0, 0, 0.26);
		text-shadow: 0;
	}


	.Estudiala-course {
		font-size: small;
	}
}