:host {
  display: block;
}

:host *,
::content * {
  font-family: Helvetica, sans-serif;
}

::content > * {
  border: 1px solid #aaa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

::content * {
  font-size: 16px;
  padding: 10px;
}

#title {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.card {
    margin:auto;
    margin-top:5px;
    background-color:#FFFFFF;
    border-radius:2px;
    color:#000000;
    border:1px solid #d8d8d8;
    padding:10px;
    text-align:left;
    font-size:10pt;
    position:relative;
  }
  
  paper-input {
    width: 80%;
    font-size: 1.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  
  paper-fab {
    position: relative;
    top: 1em;
  }
  
  core-item.message .mtxt {
    font-size: 1.15em;
  }
  
  
  core-item.message .mdate {
    font-size: 0.4em;
    color: #727272;
  }
  
  core-item.message .muser {
    font-size: 0.8em;
    color: #727272;
  }

  core-item.moderator {
    background-color: #BFC8FF
  }