<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-input-decorator.html">
<link rel="import" href="../paper-input/paper-char-counter.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../font-roboto/roboto.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../core-list/core-list.html">
<link rel="import" href="../core-item/core-item.html">
<link rel="import" href="../core-ajax/core-ajax.html">

<polymer-element name="x-socketchat" attributes="namespace lheight user role csrftoken roomid">
  <template>
    <link rel="stylesheet" href="x-socketchat.css">
    <paper-shadow z="1" class="card">
      <core-list data="{{data}}" style="height: {{lheight}}">
        <template>
          <core-item icon="account-circle" class="message {{ {moderator: model.role == 'moderador' || model.role == 'profesor'} | tokenList}}">
            <div flex>
               <div class="muser">{{model.username}}</div>
              <div class="mtxt">{{model.text}}</div>
              <div class="mdate">{{model.date}}</div>
            </div>
          </core-item>
        </template>
      </core-list>
      <paper-input label="" id="msgTxt"></paper-input>
      <paper-fab mini type="submit" icon="send" title="send" on-click={{sendMsg}}></paper-fab>
    </paper-shadow>

    <core-ajax id ="ajaxget"
    url="http://localhost:8000/classroom/chat"
    params='{"id":{{roomid}}}'
    method="get"
    handleAs="json"
    on-core-response="{{fillChat}}"></core-ajax>

   <core-ajax id="ajaxpost"
    url="http://localhost:8000/classroom/chat/"
    method="post"></core-ajax>

  </template>
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <script>
    Polymer('x-socketchat', {

      namespace: '',
      
      lheight: '',
      
      user: '',
      
      role: 'estudiante',

      csrftoken: '',

      roomid: '',
      
      data: [],

      fillChat: function(e, res){
        this.data = res.response
      } ,

      ready: function() {
        this.socket = io(this.namespace);
        this.$.ajaxget.go()
        this.socket.on('chat message', function(msg){
         document.querySelector('x-socketchat').data.push(msg);
        });
      },
      
      sendMsg: function() {
        this.socket.emit('chat message', {username: this.user, role: this.role, text: this.$.msgTxt.value});
         this.$.ajaxpost.params = {username: this.user, role: this.role, text: this.$.msgTxt.value, date: 'hoy', csrfmiddlewaretoken: this.csrftoken, room:this.roomid};
         this.$.ajaxpost.go();
        this.$.msgTxt.value = "";
      }
      
    });
  </script>
</polymer-element>
