<html>

	<body>
	<div class="section" id="index-banner">
	        <div class="container">
	          <div class="row">
	            <div class="col s12 m9">
	              <h1 class="header center-on-small-only">Sobre Materialize</h1>
	              <h4 class="light red-text text-lighten-4 center-on-small-only">Aprende sobre Material Design y nuestro Equipo De Desarrollo</h4>
	            </div>
	            <div class="col s12 m3">

	            </div>
	          </div>
	        </div>
	    </div>



	<h1>No pifó<h1>
		<!-- Footer -->
		    <footer id="footer">
		        <ul class="icons">
		            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		        </ul>
		        <ul class="copyright">
		            <li>&copy; Estudia.la</li><li>Dev.F Batch 4</a></li>
		        </ul>
		    </footer>

		</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}" ></script>
		<script src="{% static 'js/jquery.scrollex.min.js' %}" ></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}" ></script>
		<script src="{% static 'js/skel.min.js' %}" ></script>
		<script src="{% static 'js/util.js' %}" ></script>
		<script src="{% static 'js/main.js' %}" ></script>
		<script type="text/javascript" src="assets/js/jquery.leanModal.min.js"></script>

		</body>
		</html>
