{% extends 'base.html' %}
{% block content %}


		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="Submit">
		</form>
		<!--<table>
			<tr>
				<td>Nombre</td>
				<td>Materia</td>
				<td>Correo del profesor</td>
				<td>Fecha de Envio</td>
			</tr>
			{% for tarea in homeworks%}
			<tr>
				<td>{{tarea.name}}</td>
				<td>{{tarea.subject}}</td>
				<td>{{tarea.to_email}}</td>
				<td>{{tarea.current_date}}</td>
			</tr>
			{% endfor %}
		</table>-->
	</section>	
</body>
</html>

{% endblock %}