<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>
    <title>Estudia.la | El Mejor lugar para estudiar en línea</title>
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script src="github.commits.widget-min.js"></script>
  <script>
      $(function () {
          $('#github-commits').githubInfoWidget(
        { user: 'alexanderbeletsky', repo: 'github.commits.widget', branch: 'master', last: 5 });
      });
  </script>
  <script type="text/javascript">
  function placeholders() {
    document.getElementById("id_email").setAttribute("placeholder", "Introduce tu correo aquí");
  }
  </script>
  <body onload="placeholders()">
	<section>
		<form action="" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="Submit"></input>
		</form>
	</section>
</body>
</html>
