<!DOCTYPE html>
<html lang="en">
  <head>
   {% load staticfiles%}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>
    <title>Estudia.la | El Mejor lugar para estudiar en línea</title>
  </head>
  <body>
    <h1>Iniciar Sesión</h1>
    <h2>Inicia sesión con tu cuenta Estudia.la</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
      </form>
      <h2>también puedes usar tu twitter o tu Facebook</h2>
      <div class="Estudiala-social">
        <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'images/facebook.svg' %}"></a>
        <a href="{% url 'social:begin' 'twitter' %}"><img src="{% static 'images/twitter.svg' %}"></a>
      </div>
  </body>
</html>