<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>
    <title>Estudia.la | El Mejor lugar para estudiar en línea</title>
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script src="github.commits.widget-min.js"></script>
  <script>
      $(function () {
          $('#github-commits').githubInfoWidget(
        { user: 'alexanderbeletsky', repo: 'github.commits.widget', branch: 'master', last: 5 });
      });
  </script>
  <body>
    <h1>Inicio se Sesión</h1>
    <h2>Inicia sesión para acceder a todas las funciones de Estudia.la</h2>
    <h2><a href="{% url 'home' %}">Home</a></h2>
    <h2>¿Ya tienes cuenta?, inicia sesión<a href="{% url 'signin' %}">aqui</a></h2>
    <p>
    	{% block content %}
			<section>
				<form action="" method="POST">
					{% csrf_token %}
					{{form.as_p}}
					<input type="submit" value="Enviar"></inpu>
				</form>
			</section>
		{% endblock %}
	</p>
  </body>
</html>
